<!DOCTYPE html>

<html>
  <head>
    <title>BHAP {{.PaddedID}}</title>
  </head>

  <body>
    <h1>BHAP {{.PaddedID}} — {{.Title}}</h1>

    <!-- Overview table -->
    <table>
      <tr>
        <th>BHAP:</th>
        <td>{{.PaddedID}}</td>
      </tr>
      <tr>
        <th>Title:</th>
        <td>{{.Title}}</td>
      </tr>
      <tr>
        <th>Last Modified:</th>
        <td>{{.LastModified}}</td>
      </tr>
      <tr>
        <th>Author:</th>
        <td>{{.Author}}</td>
      </tr>
      <tr>
        <th>Status:</th>
        <td>{{.Status}}</td>
      </tr>
      <tr>
        <th>Created Date:</th>
        <td>{{.CreatedDate}}</td>
      </tr>
    </table>

    <!-- Show voting options -->
    <div>
      {{if .VotingOptions.ShowReadyForDiscussion}}
        <form action="/bhap/{{.ID}}/ready-for-discussion" method="POST">
          <input type="submit" value="Ready for Discussion">
        </form>
      {{end}}
      {{if .VotingOptions.ShowAccept}}
        <form action="/bhap/{{.ID}}/vote-accept" method="POST">
          <input type="submit" value="Vote to Accept">
        </form>
      {{end}}
      {{if .VotingOptions.ShowReject}}
        <form action="/bhap/{{.ID}}/vote-reject" method="POST">
          <input type="submit" value="Vote to Reject">
        </form>
      {{end}}
      {{if .VotingOptions.ShowWithdraw}}
        <form action="/bhap/{{.ID}}/withdraw" method="POST">
          <input type="submit" value="Withdraw">
        </form>
      {{end}}
      {{if .VotingOptions.ShowReplace}}
        <!-- TODO(velovix): Add support for mark as replaced-->
        <!--<button type="button">Vote to Mark as Replaced</button>-->
      {{end}}
    </div>

    <hr>

    <div>
      {{.HTMLContent}}
    </div>
  </body>
</html>
