<!DOCTYPE html>

<html>
  <head>
    <title>BHAP {{printf "%04d" .BHAP.ID}}</title>

    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  </head>

  <body>
    <div id="parent-container">
      <nav>
        <header>BHAP {{printf "%04d" .BHAP.ID}}</header>

        <!--
          A dummy div that provides space between the header and the login
          status
        -->
        <div class="space-taker"></div>

        <div class="login-status">
          {{if .LoggedIn}}
            <p>{{.FullName}}</p>
            <a href="/logout">Log Out</a>
          {{else}}
            <p>You are not logged in.</p>
            <a href="/login">Log In</a>
          {{end}}
        </div>

        <form action="/" method="GET">
          <input type="submit" value="⮜ Back to BHAPs">
        </form>
      </nav>

      <div class="title-and-edit-container">
        <div class="bhap-title">
          {{.BHAP.Title}}
        </div>

        {{if .Editable}}
          <a href="/bhap/{{.BHAP.ID}}/edit">(edit)</a>
        {{end}}
      </div>

      <p class="short-description">{{.BHAP.ShortDescription}}</p>

      <div class="voting-status">
        <p>Voting Status:</p>
        <div class="visual-vote-breakdown">
          <div class="accepted" style="flex-grow:{{.PercentAccepted}}">
            {{if .PercentAccepted}}
              {{.PercentAccepted}}%
            {{end}}
          </div>
          <div class="rejected" style="flex-grow:{{.PercentRejected}}">
            {{if .PercentRejected}}
              {{.PercentRejected}}%
            {{end}}
          </div>
          <div class="undecided" style="flex-grow:{{.PercentUndecided}}"></div>
        </div>
        <p>{{.VoteCount}}/{{.UserCount}} members<br>have voted</p>
      </div>

      {{if eq .OptionsMode "draftNotAuthor"}}
        <div class="options-container">
          <p>
            This BHAP is a draft and may not yet be voted on.
          </p>
        </div>
      {{else if eq .OptionsMode "draftAuthor"}}
        <div class="options-container">
          <div class="buttons-container">
            <form action="/bhap/{{.BHAP.ID}}/ready-for-discussion" method="POST">
              <input type="submit" class="vote-button reject" value="📣    Ready For Discussion">
            </form>
          </div>
          <p>
            This BHAP is a draft. If the proposal is ready for voting, mark it
            as "Ready for Discussion".
          </p>
        </div>
      {{else if eq .OptionsMode "discussionAuthor"}}
        <div class="options-container">
          <p>
            This BHAP is being voted on, but you can't vote since you're the
            author!
          </p>
        </div>
      {{else if eq .OptionsMode "discussionNoVote"}}
        <div class="options-container">
          <div class="buttons-container">
            <form action="/bhap/{{.BHAP.ID}}/vote-accept" method="POST">
              <input type="submit" class="vote-button accept" value="✔   Accept BHAP">
            </form>
            <form action="/bhap/{{.BHAP.ID}}/vote-reject" method="POST">
              <input type="submit" class="vote-button reject" value="✖    Reject BHAP">
            </form>
          </div>
          <p>You can change your vote until all members have voted.</p>
        </div>
      {{else if eq .OptionsMode "discussionVoted"}}
        <div class="options-container">
          <p>
            <strong>You voted to {{.SelectedVote}} this BHAP.</strong>
            You can change your vote until all members have voted.
          </p>
          <div class="change-vote-container">
            <a href="/bhap/{{.BHAP.ID}}/delete-vote">Change My Vote</a>
          </div>
        </div>
      {{else if eq .OptionsMode "accepted"}}
        <div class="options-container">
          <p>This BHAP has been accepted and is now in effect.</p>
        </div>
      {{else if eq .OptionsMode "rejected"}}
        <div class="options-container">
          <p>This BHAP has been rejected.</p>
        </div>
      {{end}}

      <div class="proposal-content">
        {{.HTMLContent}}
      </div>
    </div>
  </body>
</html>
