<!DOCTYPE html>

<html style="background:url(&quot;{{.BackgroundURL}}&quot;);">
  <head>
    <title>New User</title>

    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
  </head>

  <body>
    <div class="contents">
      <header>New User</header>

      <p>
        Welcome, {{.Email}}! Please create an account to join the consortium
        and begin voting on 🏡 proposals.
      </p>

      <form action="/new-user/{{.InvitationUID}}" method="post">
        <input type="text" name="firstName" placeholder="First Name">
        <br>
        <input type="text" name="lastName" placeholder="Last Name">
        <br>
        <input type="password" name="password" placeholder="Password">
        <br>
        <input type="submit" value="Create Account">
      </form>
    </div>
  </body>
</html>
