<!DOCTYPE html>

<html>
  <head>
    <title>New User</title>
  </head>

  <body>
    <h1>New User</h1>

    <p>
      Welcome, {{.Email}}! Please complete the following forms to become a
      member of the BHAP consortium.
    </p>

    <form action="/new-user/{{.InvitationUID}}" method="post">
      <p>First Name</p>
      <input type="text" name="firstName"/>

      <p>Last Name</p>
      <input type="text" name="lastName"/>

      <p>Password</p>
      <input type="password" name="password"/>

      <br/><br/>

      <input type="submit"/>
    </form>
  </body>
</html>
