@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Raleway');

body {
	background-color: #171927;
	color: #e0e0e0;
	font-family: 'Raleway', sans-serif;

	padding-top: 2em;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav .space-taker {
	flex-grow: 1;
}

nav .login-status {
	text-align: right;

	margin-right: 1.5em;
}

nav .login-status p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

nav .login-status a {
	font-weight: bold;
	color: #e0e0e0;
}

nav header {
	font-size: 320%;
	font-family: 'Archivo Black', sans-serif;
	text-transform: uppercase;
}

nav input { 
	background-color: #e0e0e0;

	border: none;
	border-radius: 0.5em;

	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;

	font-size: 130%;
	font-family: 'Raleway', sans-serif;

	justify-self: flex-end;
}

.new-bhap {
	background-color: #393b46;

	margin-top: 4em;

	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 7em;
	padding-right: 5.5em;

	background-image: url("/static/images/new-bhap-background.png");
	background-repeat: no-repeat;
}

.new-bhap p {
	font-size: 120%;
}

.new-bhap header {
	font-size: 250%;
	font-weight: bold;
}

.new-bhap .vote-container {
	text-align: center;
}

.new-bhap .vote-container a {
	font-size: 130%;
	font-weight: bold;
	color: #e0e0e0;
}

#parent-container {
	margin: 0 auto;
	max-width: 60em;
}

.bhap-list-section {
	margin-top: 4em;
}

.bhap-list-section header {
	font-size: 130%;
	font-weight: bold;
}

.bhap-list-section li {

}

.bhap-list-section a {
	font-size: 120%;
	color: #e0e0e0;
}

.proposal-form-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.proposal-form-container h2 {
	font-size: 140%;
	font-weight: normal;
	margin-bottom: 0.2em;
}

.proposal-form-container p {
	margin-top: 0em;
}

.proposal-form-container form {
	width: 30em;
}

.proposal-form-container input[type="text"],textarea {
	width: 100%;
	padding: 15px;
	margin: 0;

	font-size: 120%;

	background-color: rgba(255, 255, 255, 0.5);
	border: 0;
}

.proposal-form-container .is-meta-checkbox-container {
	margin-left: 1em;
	margin-top: 1em;
}

.proposal-form-container textarea {
	height: 12em;
}

.proposal-form-container input[type="submit"] {
	background: white;

	padding-top: 15px;
	padding-bottom: 15px;
	margin: 15px;

	width: 100%;
}

.bhap-title {
	font-size: 225%;
}

.voting-status {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.options-container {
	background-color: #393b46;

	padding: 1em;
}

.options-container .change-vote-container {
	text-align: center;
}

.options-container .change-vote-container a {
	font-weight: bold;
	color: #e0e0e0;
}

.visual-vote-breakdown {
	display: flex;

	flex-grow: 1;
	
	height: 1.5em;

	margin-left: 2em;
	margin-right: 2em;

	border-style: solid;
	border-width: 1px;
	border-color: white;
}

.visual-vote-breakdown .accepted {
	background-color: white;

	height: 1.5em;

	border-right-style: solid;
	border-width: 1px;
	border-color: white;

	color: black;
	text-align: center;
}

.visual-vote-breakdown .rejected {
	background-color: black;

	height: 1.5em;

	border-right-style: solid;
	border-width: 1px;
	border-color: white;

	color: white;
	text-align: center;
}

.visual-vote-breakdown .undecided {
	height: 1.5em;

	color: white;
	text-align: center;
}

.options-container .buttons-container {
	display: flex;
	justify-content: center;
}

.options-container .buttons-container input[type="submit"] {
	background: white;

	padding: 1em;
	padding-left: 1.5em;

	margin-left: 3em;
	margin-right: 3em;

	border: none;
	border-radius: 0.75em;

	min-width: 12em;

	font-size: 100%;
	font-family: 'Raleway', sans-serif;
	color: black;

	text-align: left;
}

.options-container .buttons-container .reject {
	background: black;

	color: white;
}

.title-and-edit-container {
	display: flex;
	align-items: flex-end;
}

.title-and-edit-container a {
	margin-left: 1em;
	color: #e0e0e0;
	font-size: 120%;
}
