<!DOCTYPE html>

<html>
  <head>
    <title>BHAP List</title>

    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  </head>

  <body>
    <div id="parent-container">
      <nav>
        <header>BHAP Proposals</header>

        <!--
          A dummy div that provides space between the header and the login
          status
        -->
        <div class="space-taker"></div>

        <div class="login-status">
          {{if .LoggedIn}}
            <p>{{.FullName}}</p>
            <a href="/logout">Log Out</a>
          {{else}}
            <p>You are not logged in.</p>
            <a href="/login">Log In</a>
          {{end}}
        </div>

        <form action="/propose" method="GET">
          <input type="submit" value="Propose a BHAP ⮞">
        </form>
      </nav>

      {{if .NewBHAP}}
        <div class="new-bhap">
          <header>BHAP {{printf "%04d" .NewBHAP.ID}}: {{.NewBHAP.Title}}</header>
          <p>{{.NewBHAP.ShortDescription}}</p>
          <div class="vote-container">
            <a href="/bhap/{{.NewBHAP.ID}}">Vote Now</a>
          </div>
        </div>
      {{end}}

      {{if .DiscussionBHAPs}}
        <div class="bhap-list-section">
          <header>Discussion BHAPs</header>
          <hr>
          {{range .DiscussionBHAPs}}
            <a href="/bhap/{{.ID}}">BHAP {{printf "%04d" .ID}}: {{.Title}}</a>
            <br>
          {{end}}
        </div>
      {{end}}

      {{if .ActiveBHAPs}}
        <div class="bhap-list-section">
          <header>Accepted BHAPs</header>
          <hr>
          {{range .ActiveBHAPs}}
            <a href="/bhap/{{.ID}}">BHAP {{printf "%04d" .ID}}: {{.Title}}</a>
            <br>
          {{end}}
        </div>
      {{end}}

      {{if .RejectedBHAPs}}
        <div class="bhap-list-section">
          <header>Rejected BHAPs</header>
          <hr>
          {{range .RejectedBHAPs}}
            <a href="/bhap/{{.ID}}">BHAP {{printf "%04d" .ID}}: {{.Title}}</a>
            <br>
          {{end}}
        </div>
      {{end}}

      {{if .DraftBHAPs}}
        <div class="bhap-list-section">
          <header>Draft BHAPs</header>
          <hr>
          {{range .DraftBHAPs}}
            <a href="/draft/{{.DraftID}}">BHAP: {{.Title}}</a>
            <br>
          {{end}}
        </div>
      {{end}}
    </div>
  </body>
</html>
