<!DOCTYPE html>

<html style="background:url(&quot;{{.BackgroundURL}}&quot;);">
  <head>
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
  </head>

  <body>
    <div class="contents">
      <header>Login to BHAP</header>

      <p>Welcome back, honored member of the BHAP consortium!</p>

      <form action="/login" method="post">
        <input type="text" name="email" placeholder="Email"/>
        <br>
        <input type="password" name="password" placeholder="Password"/>

        <br><br>

        <input type="submit" value="Sign In"/>
      </form>
    </div>
  </body>
</html>
