<!DOCTYPE html>

<html>
  <head>
    <title>Propose BHAP</title>

    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  </head>

  <body>
    <div id="parent-container">
      <nav>
        <header>Propose a BHAP</header>

        <!--
          A dummy div that provides space between the header and the login
          status
        -->
        <div class="space-taker"></div>

        <div class="login-status">
          {{if .LoggedIn}}
            <p>{{.FullName}}</p>
            <a href="/logout">Log Out</a>
          {{else}}
            <p>You are not logged in.</p>
            <a href="/login">Log In</a>
          {{end}}
        </div>

        <form action="/" method="GET" class="back-to-bhaps">
          <input type="submit" value="⮜ Back to BHAPs">
        </form>
      </nav>

      <div class="proposal-form-container">
        <form action="/propose" method="POST">
          <h2>Title</h2>
          <p>(Do not include BHAP #)</p>
          <input type="text" name="title"/>

          <h2>Short Description</h2>
          <input type="text" name="shortDescription"/>

          <div class="is-meta-checkbox-container">
            <input type="checkbox" id="is-meta-checkbox" name="is-meta">
            <label for="is-meta-checkbox">Meta proposal</label>
          </div>

          <h2>BHAP Conditions</h2>
          <p>Describe exactly what you want the BHAP to entail</p>
          <textarea name="content"></textarea>

          <br/><br/>

          <input type="submit"/>
        </form>
      </div>
    </div>
  </body>
</html>
